{{#if (eq cart.products.length 0)}}
  <div class="text-center mt-5 empty v-100">
    
    <img class="w-25 h-25  mb-5" src="http://hsnbazar.com/images/empty-cart.png">
    <div class="pt-5">
      <h6 class="mb-0 text-center "><a href="/" class="text-body ">Back
          to shop</a></h6>
    </div>
  </div>

  {{else}}
<section class="h-50 h-custom" style="background-color: #f8f9fa;">
  <div class="container py-5 h-50">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1 class="fw-bold mb-0 text-black">{{titulo}}</h1>
                    <h6 class="mb-0 text-muted">{{cart.products.length}}</h6>
                  </div>
                  {{#each cart.products}}
                  <hr class="my-4">
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2 ">
                      <img src="/img/{{product.thumbnails.[0]}}" class="img-fluid rounded-3" alt="{{product.title}}">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{product.title}}</h6>
                      <h6 class="text-black mb-0">{{product.description}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>
                      <input id="form1" min="0" name="quantity" value={{quantity}} type="number"
                        class="form-control form-control-sm" />
                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">€{{multiply quantity product.price}}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <button title="Delete from cart" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                        onclick="deleteProduct('{{../cart._id}}', '{{this.product._id}}')">
                        <img class="icon" src="https://img.icons8.com/ultraviolet/80/null/waste.png" />
                      </button>
                    </div>
                  </div>
                  {{/each}}
                  <hr class="my-4 mt-5">
                  <div class="pt-5 d-flex">
                    <h6 class="mb-0 me-auto"><a href="/" class="text-body "><img class="icon"
                          src="https://img.icons8.com/ultraviolet/40/null/undo.png" />Back
                        to shop</a></h6>
                    <h6 class="mb-0 ms-auto"><a href="#" class="text-body" onclick="emptyCart('{{cart._id}}')"><img
                          class="icon" src="https://img.icons8.com/ultraviolet/80/null/waste.png" />Empty Cart</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 summary">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items {{cart.products.length}}</h5>
                    <h5>{{total cart}}</h5>
                  </div>
                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">Global Shipping </h5>
                    <h5>5 €</h5>
                  </div>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-2">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5 id="total-price">€ {{finalPrice cart shippingValue }}</h5>
                  </div>
                  <button type="button" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">Buy</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}
<script src="/lib/helpers.handlebars.js"></script>
<script>
  async function emptyCart(cid) {
    try {
      const response = await fetch(`/api/cart/${cid}`, { method: 'DELETE' })
      const data = await response.json()
      console.log(data.message)
      window.location.href = "/"
      // Aquí podemos actualizar la página o mostrar un mensaje al usuario
    } catch (error) {
      console.error(error)
      // Aquí podemos mostrar un mensaje de error al usuario
    }
  }
  function deleteProduct(cid, pid) {
    fetch(`/api/cart/${cid}/products/${pid}`, { method: 'DELETE' })
      .then(res => {
        if (res.ok) {
          location.reload(); // recargar la página después de borrar el producto
        } else {
          throw new Error('Failed to delete product from cart');
        }
      })
      .catch(error => console.error(error));
  }
</script>