<main>
  {{#if (eq cart.products.length 0)}}
  <div class="text-center mt-5 empty v-100">

    <img class="w-25 h-25  mb-5" src="http://hsnbazar.com/images/empty-cart.png">
    <div class="pt-5">
      <h6 class="mb-0 text-center "><a href="/" class="text-body ">Back
          to shop</a></h6>
    </div>
  </div>

  {{else}}
  <div class="container card">
    <section class="section my-5 pb-5">
      <!-- Shopping Cart table -->
      <div class="table-responsive">
        <table class="table product-table table-cart-v-1">
          <!-- Table head -->
          <thead>
            <tr>
              <th></th>
              <th class="font-weight-bold">
                <strong>Product</strong>
              </th>
              <th class="font-weight-bold">
                <strong>Description</strong>
              </th>
              <th></th>
              <th class="font-weight-bold">
                <strong>Price</strong>
              </th>
              <th class="font-weight-bold">
                <strong>QTY</strong>
              </th>
              <th class="font-weight-bold">
                <strong>Amount</strong>
              </th>
              <th></th>
            </tr>
          </thead>
          <!-- Table head -->
          <!-- Table body -->
          <tbody>
            {{#each cart.products}}
            <!-- Product row -->
            <tr>
              <th scope="row">
                <img src="/img/{{product.thumbnails.[0]}}" alt="img of {{product.title}}" class="img-fluid z-depth-0" />
              </th>
              <td>
                <h5 class="mt-3">
                  <strong>{{product.title}}</strong>
                </h5>
                <p class="text-muted">{{product.description}}</p>
              </td>
              <td>{{product.description}}</td>
              <td></td>
              <td>${{product.price}}</td>
              <!-- Product row -->
              <td class="text-center text-md-left">
                <div style="display: inline-flex; align-items: center;">
                  <span class="qty">{{quantity}} </span>
                  <div class="btn-group radio-group ml-2" data-toggle="buttons">
                    <label class="btn btn-sm btn-primary btn-rounded">
                      <input type="radio" name="options" id="option1" data-cart-id="{{../cart._id}}"
                        data-product-id="{{product._id}}" data-product-stock="{{product.stock}}"
                        onclick="updateProductQuantity(this, -1)" />&mdash;
                    </label>
                    <label class="btn btn-sm btn-primary btn-rounded">
                      <input type="radio" name="options" id="option2" data-cart-id="{{../cart._id}}"
                        data-product-id="{{product._id}}" data-product-stock="{{product.stock}}"
                        onclick="updateProductQuantity(this, 1)" />+
                    </label>
                  </div>
                </div>
              </td>
              <td class="font-weight-bold">
                <strong>${{multiply quantity product.price}}</strong>
              </td>
              <td>
                <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                  title="Remove item" onclick="deleteProduct('{{../cart._id}}', '{{this.product._id}}')">
                  X
                </button>
              </td>
            </tr>
            <!-- Product row -->
            {{/each}}
            <!-- Total row -->
            <tr>
              <td colspan="3"></td>
              <td>
                <div style="display: inline-flex;">

                  <h4 class="mt-2 ml-2">
                    <strong>${{total cart}}</strong>
                  </h4>
                </div>
              </td>
              <td colspan="3" class="text-right">
                <button type="button" class="btn btn-primary btn-rounded">
                  Complete purchase

                  <i class="fas fa-angle-right right"></i>
                </button>
              </td>
            </tr>
            <!-- Fourth row -->
          </tbody>
          <!-- Table body -->
        </table>
      </div>
      <!-- Shopping Cart table -->
    </section>
    <div class="text-center">
      <button type="button" class="btn btn-danger btn-sm btn-rounded" onclick="emptyCart('{{cart._id}}')">
        <i class="fas fa-trash"></i> Empty Cart
      </button>
    </div>
  </div>
</main>
{{/if}}
<script src="/lib/helpers.handlebars.js"></script>
<script>
  async function emptyCart(cid) {
    try {
      const response = await fetch(`/api/cart/${cid}`, { method: 'DELETE' })
      const data = await response.json()
      window.location.href = "/"
      //  actualizar la página o mostrar un mensaje
    } catch (error) {
      console.error(error)
      // mostrar un mensaje de error al usuario
    }
  }
  function deleteProduct(cid, pid) {
    fetch(`/api/cart/${cid}/products/${pid}`, { method: 'DELETE' })
      .then(res => {
        if (res.ok) {
          location.reload(); // recargar la página después de borrar el producto
        } else {
          throw new Error('Failed to delete product from cart');
        }
      })
      .catch(error => console.error(error));
  }

  async function updateProductQuantity(element, change) {
    const cartId = element.getAttribute("data-cart-id");
    const productId = element.getAttribute("data-product-id");
    const productStock = parseInt(element.getAttribute("data-product-stock"));
    const quantityElement = element.closest("td").querySelector(".qty");
    let quantity = parseInt(quantityElement.textContent);

    quantity += change;
    if (quantity < 1 || quantity > productStock) {
      return;
    }

    try {
      const response = await fetch(`/api/cart/${cartId}/product/${productId}`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ quantity }),
      });
      if (response.ok) {
        // Actualizar la cantidad
        quantityElement.textContent = quantity;
        // 1. Actualizar el total del producto
        const productPrice = parseFloat(element.closest('tr').querySelector('td:nth-child(5)').textContent.trim().slice(1));
        const productTotalElement = element.closest('tr').querySelector('td:nth-child(7) strong');
        productTotalElement.textContent = `$${(quantity * productPrice).toFixed(2)}`;
        // 2. Recalcular el total del carrito y actualizarlo
        const allProductTotalElements = document.querySelectorAll('td:nth-child(7) strong');
        let cartTotal = 0;
        for (const elem of allProductTotalElements) {
          cartTotal += parseFloat(elem.textContent.trim().slice(1));
        }
        document.querySelector('td:nth-child(2) h4 strong').textContent = `$${cartTotal.toFixed(2)}`;
      } else {
        throw new Error("Failed to update product quantity");
      }
    } catch (error) {
      console.error(error);

    }
  }
</script>