<main>
  <div class="card-header">
    {{> title titulo = "Listado de Productos"}}
  </div>
  <div class="container card">
    <div class="container  pt-3">
      <div class="row pt-4">
        <!-- Sidebar -->
        <div class="col-lg-3">
          <div class="">
            <!-- Grid row -->
            <div class="row">
              <div class="col-md-6 col-lg-12 mb-5">
                <!-- Panel -->
                <h5 class="font-weight-bold dark-grey-text"><strong>Order By</strong></h3>
                  <div class="divider"></div>
                  <p class="blue-text"><a onclick='resetFilters()'>Reset Filters</a></p>
                  <p class="dark-grey-text"><a onclick='setDisp(true)'>Available</a></p>
                  <p class="dark-grey-text"><a onclick='setDisp(false)'>Unavailable</a></p>
                  <p class="dark-grey-text"><a onclick='setOrder("price", "desc")'>Price: low to high</a></p>
                  <p class="dark-grey-text"><a onclick='setOrder("price", "asc")'>Price: high to low</a></p>
                  <p class="dark-grey-text"><a onclick='setOrder("title", "asc")'>Name: A to Z</a></p>
                  <p class="dark-grey-text"><a onclick='setOrder("title", "desc")'>Name: Z to A</a></p>
              </div>
              <!-- Filter by category -->
              <div class="col-md-6 col-lg-12 mb-5">
                <h5 class="font-weight-bold dark-grey-text"><strong>Category</strong></h3>
                  <div class="divider"></div>
                  <!-- Radio group -->
                  <div class="form-group">
                    <input class="form-check-input" name="group100" type="radio" id="radio100"
                      onclick="setCategory('')">
                    <label for="radio100" class="form-check-label dark-grey-text">All</label>
                  </div>
                  <div class="form-group">
                    <input class="form-check-input" name="group100" type="radio" id="radio101"
                      onclick="setCategory('Remeras')">
                    <label for="radio101" class="form-check-label dark-grey-text">T-shirts</label>
                  </div>
                  <div class="form-group">
                    <input class="form-check-input" name="group100" type="radio" id="radio102"
                      onclick="setCategory('Camperas')">
                    <label for="radio102" class="form-check-label dark-grey-text">Jackets</label>
                  </div>
                  <div class="form-group">
                    <input class="form-check-input" name="group100" type="radio" id="radio103"
                      onclick="setCategory('Pantalones')">
                    <label for="radio103" class="form-check-label dark-grey-text">Pants</label>
                  </div>
                  <!-- Radio group -->
              </div>
              <!-- Filter by category -->
            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row">
            </div>
            <!-- Grid row -->
          </div>
        </div>
        <!-- Sidebar -->
        <!-- Content -->
        <div class="col-lg-9">
          <!-- Filter Area -->
          <div class="row">
            <div class="col-md-8 text-right">
              <!-- View Switcher -->
              <p>Resultados por Pagina</p>
              <a class="btn blue darken-3 btn-sm" onclick="setLimit(3)">
                <i class="fas fa-th mr-2" aria-hidden="true"></i>
                <strong>3</strong>
              </a>
              <a class="btn blue darken-3 btn-sm" onclick="setLimit(9)">
                <i class="fas fa-th mr-2" aria-hidden="true"></i>
                <strong>9</strong>
              </a>
              <a class="btn blue darken-3 btn-sm" onclick="setLimit(18)">
                <i class="fas fa-th mr-2" aria-hidden="true"></i>
                <strong>18</strong>
              </a>
              <a class="btn blue darken-3 btn-sm" onclick="setLimit(27)">
                <i class="fas fa-th mr-2" aria-hidden="true"></i>
                <strong>27</strong>
              </a>
              <!-- View Switcher -->
            </div>
          </div>
          <!-- Filter Area -->
          <!-- Products Grid -->
          <section class="section pt-4">
            <!-- Grid row -->
            <div class="row">
              {{#each products}}
              <!-- Grid column -->
              <div class="col-lg-4 col-md-12 mb-4">
                <!-- Card -->
                <div class="card card-ecommerce " data-product-id="{{this._id}}">
                  <!-- Card image -->
                  <div class="view overlay">
                    <img src="/img/{{thumbnails.[0]}}" class="img-fluid" alt="">
                    <a href="/view/product/{{this._id}}">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!-- Card image -->
                  <!-- Card content -->
                  <div class="card-body">
                    <!-- Category & Title -->
                    <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">{{this.title}}</a></strong>
                    </h5>
                    {{#if this.status}}
                    <span class="status available badge badge-success mb-2">Status: Available</span>
                    {{else}}
                    <span class="status not-available badge badge-danger mb-2">Status: Unavailable</span>
                    {{/if}}
                    <p class="fw-bold">Description:<span class="fw-light"> {{this.description}}</span></p>
                    <p class="fw-bold">Category:<span class="fw-light"> {{this.category}}</span></p>
                    <p class="fw-bold">Stock:<span class="fw-light"> {{this.stock}}</span></p>
                    <p class="fw-bold">Product code:<span class="fw-light"> {{this.code}}</span></p>
                    <!-- Card footer -->
                    <div class="card-footer pb-0">
                      <div class="row mb-0">
                        <span class="float-left"><strong>€ {{this.price}}</strong></span>
                        <span class="float-right">
                          {{#if this.status}}
                          <button class="cart-btn" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                            <i class="fas fa-shopping-cart ml-3 status available"></i>
                          </button>
                          {{else}}
                          <button class="cart-btn disabled" data-toggle="tooltip" data-placement="top"
                            title="Product not available">
                            <i class="fas fa-shopping-cart ml-3 status not-available"></i>
                          </button>
                          {{/if}}
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- Card content -->
                </div>
                <!-- Card -->
              </div>
              <!-- Grid column -->
              {{/each}}
            </div>
            <!-- Grid row -->
            <!-- Grid row -->
            <div class="row justify-content-center mb-4">
              <!-- Pagination -->
              <nav class="mb-4">
                <ul class="pagination pagination-circle pg-blue mb-0">
                  <div class="btn-group d-flex">
                    {{#if hasPrevPage}}
                    <button
                      class="btn btn-secondary btn-sm btn-navigation btn-block d-flex justify-content-between col-6 pagination "
                      onclick='setPrev()'>Anterior</button>
                    {{/if}}
                    {{#if hasNextPage}}
                    <button
                      class="btn btn-secondary btn-sm btn-navigation btn-block d-flex justify-content-between col-6 pagination "
                      onclick='setNext()'>Siguiente</button>
                    {{/if}}
                  </div>
                </ul>
                <div class="row ">
                  <div class="col-2">
                    <p>Total páginas: {{pages}}</p>
                  </div>
                  <div class="col-2">
                    <p>Página actual: {{page}}</p>
                  </div>
                </div>
              </nav>
              <!-- Pagination -->
            </div>
            <!-- Grid row -->
          </section>
          <!-- Products Grid -->
        </div>
        <!-- Content -->
      </div>
    </div>
  </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const query = new URLSearchParams(window.location.search);
  function setPrev() {
    const previusPage = Number(query.get('page')) - 1;
    query.set('page', previusPage);
    window.location.search = query.toString();
  }
  function setNext() {
    const nextPage = Number(query.get('page')) + 1;
    query.set('page', nextPage);
    window.location.search = query.toString();
  }
  function setLimit(limit) {
    query.set('limit', limit);
    query.set('page', 1);
    window.location.search = query.toString();
  }
  function setCategory(category) {
    query.set('category', category);
    query.set('page', 1);
    window.location.search = query.toString();
  }
  function setOrder(field, direction) {
    query.set('sort', field);
    query.set('order', direction);
    query.set('page', 1);
    window.location.search = query.toString();
  }
  function setDisp(status) {
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set('status', status);
    window.location.search = urlParams.toString();
  }
  function resetFilters() {
    query.delete('category');
    query.delete('status');
    query.delete('sort');
    query.delete('order');
    query.delete('limit');
    query.delete('page');
    window.location.search = query.toString();
  }
</script>
<script>

  async function createCart() {
    const response = await fetch('http://localhost:8080/api/cart', {
      method: 'POST',
    });
    const data = await response.json();
    const cartId = data.carts[0]._id;
    localStorage.setItem('cartId', cartId);
  }

  async function addProductToCart(cartId, productId) {
    const response = await fetch(`http://localhost:8080/api/cart/${cartId}/product/${productId}`, {
      method: 'POST',
    });
    const data = await response.json();
    Swal.fire({
      title: 'Product added to cart',
      icon: 'success',
      showCancelButton: true,
      confirmButtonText: `<a href="/view/cart/${cartId}" class="btn-go-to-cart">Go to cart</a>`,
      cancelButtonText: 'Continue shopping',
      position: 'top-right',
      timer: 5000,
      timerProgressBar: true,
      toast: true
    })
    console.log('Producto added to cart', data);
  }

  const cartBtns = document.querySelectorAll('.cart-btn');

  cartBtns.forEach(function (btn) {
    btn.addEventListener('click', async function (event) {
      const productId = event.target.closest('.card').dataset.productId;
      let cartId = localStorage.getItem('cartId');
      if (!cartId) {
        await createCart();
        cartId = localStorage.getItem('cartId');
      }
      await addProductToCart(cartId, productId);
    });
  });
</script>