{{!-- <h2>{{saludar user.nombre}}</h2> helper, primero funcion dsp parametro--}}
<div class="content">
  <div class="p-0 container">
    <div class="card">
      <div class="card-header">
        {{> title titulo = "Listado de Productos"}}
      </div>
      <div class="container">
        <div class="row">
          <div class="paginate-top container col-4 mt-2 border py-2">
            <h6 class="text-center">Navegador</h6>
            {{#if hasPrevPage}}
            <button class="btn btn-secondary btn-sm btn-navigation" onclick='setPrev()'>Anterior</button>
            {{/if}}
            {{#if hasNextPage}}
            <button class="btn btn-secondary btn-sm btn-navigation" onclick='setNext()'>Siguiente</button>
            {{/if}}
            <br />
            <button class="btn btn-secondary btn-sm mt-3 btn-navigation" onclick='setLimit(10)'>10</button>
            <button class="btn btn-secondary btn-sm mt-3 btn-navigation" onclick='setLimit(25)'>25</button>
            <button class="btn btn-secondary btn-sm mt-3 btn-navigation" onclick='setLimit(50)'>50</button>
          </div>
          <div class="paginate-top container col-4 mt-2 border py-2">
            <h6 class="text-center">Filtrar por Categoria</h6>
            <br />
            <button class="btn btn-secondary btn-sm mt-3 btn-navigation" onclick='setCategory("")'>Todas</button>
            <button class="btn btn-secondary btn-sm mt-3 btn-navigation" onclick='setCategory("Remeras")'>Remeras</button>
            <button class="btn btn-secondary btn-sm mt-3 btn-navigation" onclick='setCategory("Camperas")'>Camperas</button>
            <button class="btn btn-secondary btn-sm mt-3 btn-navigation" onclick='setCategory("Pantalones")'>Pantalones</button>
          </div>
     <div class="sort-top container col-4 mt-2 border py-2">
  <h6 class="text-center">Ordenar por</h6>
  <br />
  <button class="btn btn-secondary btn-sm mt-3 btn-navigation" onclick='setOrder("title", "asc")'>Nombre +</button>
  <button class="btn btn-secondary btn-sm mt-3 btn-navigation" onclick='setOrder("title", "desc")'>Nombre -</button>
  <button class="btn btn-secondary btn-sm mt-3 btn-navigation" onclick='setOrder("price", "desc")'>Price +</button>
  <button class="btn btn-secondary btn-sm mt-3 btn-navigation" onclick='setOrder("price", "asc")'>Price -</button>
</div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="card-body">
          </div>
        </div>
        <div class="table-responsive">
          <table class="my-0 table table-striped" id="ticketTable">
            <thead>
              <tr>
                <th class="order-4 text-center">Id</th>
                <th class="order-4 text-center">Titulo</th>
                <th class="order-4 text-center">Descripcion</th>
                <th class="order-4 text-center">Categoria</th>
                <th class="order-4 text-center">Precio</th>
                <th class="order-4 text-center">Status</th>
                <th class="order-4 text-center">Stock</th>
                <th class="order-4 text-center">Thumbnails</th>
                <th class="order-4 text-center">View Product</th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
              <tr id="">
                <td class=" text-center align-middle">{{this._id}}</td>
                <td class=" text-center align-middle">{{this.title}}</td>
                <td class=" text-center align-middle">{{this.description}}</td>
                <td class=" text-center align-middle">{{this.category}}</td>
                <td class=" text-center align-middle">{{this.price}}</td>
                <td class=" text-center align-middle">{{this.status}}</td>
                <td class=" text-center align-middle">{{this.stock}}</td>
                <td class="text-center align-middle">
                  {{#each this.thumbnails}}
                  <a href="/img/{{this}}" target="_blank"><img src="/img/{{this}}" alt="Thumbnail of product"></a>
                  {{/each}}
                </td>
                <td class=" text-center align-middle"><span
                    style="overflow: visible; position: relative; width: 110px;">
                    <a title="View product" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                      href="/view/product/{{this._id}}">
                      <img class="icon" src="https://img.icons8.com/ultraviolet/40/null/visible.png" /> </a>
                    <a title="Add to cart" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                      href="/view/product/{{this._id}}">
                      <img class="icon" src="https://img.icons8.com/ultraviolet/40/null/shopping-cart.png"/> </a>
                  </span></td>
              </tr>
              {{/each}}
            </tbody>
            <tfoot>
              <tr>
                <td colspan='1'>Total paginas</td>
                <td colspan='2'>{{pages}}</td>
              </tr>
              <tr>
                <td colspan='1'>Pagina Actual</td>
                <td colspan='2'>{{page}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
const query = new URLSearchParams(window.location.search);
function setPrev() {
  const previusPage = Number(query.get('page')) - 1;
  query.set('page', previusPage);
  window.location.search = query.toString();
}
function setNext() {
  const nextPage = Number(query.get('page')) + 1;
  query.set('page', nextPage);
  window.location.search = query.toString();
}
function setLimit(limit) {
  query.set('limit', limit);
  query.set('page', 1);
  window.location.search = query.toString();
}
function setCategory(category) {
  query.set('category', category);
  query.set('page', 1);
  window.location.search = query.toString();
}
function setOrder(field, direction) {
  query.set('sort', field);
  query.set('order', direction);
  query.set('page', 1);
  window.location.search = query.toString();
}
</script>