{{!-- <h2>{{saludar user.nombre}}</h2> helper, primero funcion dsp parametro--}}
<div class="content">
  <div class="p-0 container">
    <div class="card">
      <div class="card-header">
        {{> title titulo = "Listado de Productos"}}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="card-body">
            <div class="row form-group">
              <div class="col-sm-auto">
                <button class="btn btn-primary btn_custom">Accion 1</button>
              </div>
              <div class="col-sm-auto">
                <button class="btn btn-primary btn_custom">Accion 2</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="my-0 table table-striped" id="ticketTable">
            <thead>
              <tr>
                <th class="order-4 text-center">Id</th>
                <th class="order-4 text-center">Titulo</th>
                <th class="order-4 text-center">Descripcion</th>
                <th class="order-4 text-center">Categoria</th>
                <th class="order-4 text-center">Precio</th>
                <th class="order-4 text-center">Status</th>
                <th class="order-4 text-center">Stock</th>
                <th class="order-4 text-center">Thumbnails</th>
                <th class="order-4 text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {{#each data}}
              <tr>
                <td class=" text-center align-middle">{{this.id}}</td>
                <td class=" text-center align-middle">{{this.title}}</td>
                <td class=" text-center align-middle">{{this.description}}</td>
                <td class=" text-center align-middle">{{this.category}}</td>
                <td class=" text-center align-middle">{{this.price}}</td>
                <td class=" text-center align-middle">{{this.status}}</td>
                <td class=" text-center align-middle">{{this.stock}}</td>
                <td class=" text-center align-middle">{{this.thumbnails}}</td>
                <td class=" text-center align-middle"><span
                    style="overflow: visible; position: relative; width: 110px;">
                    <a title="View product" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                      href="/view/product/{{this.id}}">
                      <img class="icon" src="https://img.icons8.com/ultraviolet/40/null/visible.png" /> </a>
                    <a title="Edit product" class="btn btn-sm btn-clean btn-icon btn-icon-md">
                      <img class="icon" src="https://img.icons8.com/ultraviolet/40/null/edit-property.png" /> </a>
                    <a title="Delete product" class="btn btn-sm btn-clean btn-icon btn-icon-md">
                      <img class="icon" src="https://img.icons8.com/ultraviolet/40/null/recycle-bin.png" /> </a>
                  </span></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
