<div class="container d-flex justify-content-center align-items-center vh-85">
  <div class="mt-5 mb-5">
    <h4 class="text-center mb-3">Product with id "<span
        class="text-danger"
      >{{data._id}}</span>"</h4>
    <div class="card" style="height: 55vh; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 30px 0; text-align: center;"
>
      <div class="bg-image hover-overlay ripple d-flex justify-content-center gap-3" style="position: relative; height: 300px;">
        {{#each data.thumbnails}}
          <a href="/img/{{this}}" target="_blank"><img src="/img/{{this}}" alt="Thumbnail of data" /></a>
        {{/each}}
      
      </div>
      <div class="card-body w-75" >
        <h5 class="card-title">{{data.title}}</h5>
        <p class="card-text">{{data.description}}</p>
        <div class="card-footer text-black"><p>Category:
            <span>{{data.category}}</span></p></div>
        <div class="card-footer text-black"><p>Status:
            <span class="text-primary">{{data.status}}</span></p></div>
        <div class="card-footer text-black"><p>Stock:
            <span>{{data.stock}}</span></p></div>
      </div>
    </div>
  </div>
</div>